
:root {
    
  --blue: #007bff;
  --light: #f8f9fa;
  --dark: #343a40;
  --indigo: #6610f2;
  --white: #ffffff;
  --danger: #dc3545;
  --secondary: #6c757d;
  --success: #28a745;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--light);
    font-size: 1rem;
    color: var(--dark);
    font-family: "Roboto", "Poppins", "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

p {
    color: var(--secondary);
    margin-bottom: .50rem;
    padding-left: 1rem;
}

input,
select,
button {
    outline: none;
    border: none;
}

input,
button,
select,
option,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    background-color: var(--white);
    box-shadow: 0 1px 1px rgba(8, 8, 8, 0.2);
    z-index: 200;
}

.nav ul {
    display: flex;
    list-style-type: none;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}


.nav ul li {
    display: block;
    padding: 10px 5px;
}


.nav ul a {
    padding: 6px;
    transition: all .25s ease-in;
    color: var(--dark);
}

.nav ul a:hover,
.nav ul a.active {
    color: var(--indigo);
}


@media screen and (max-width: 560px) {
    
    .nav ul {
        flex-wrap: wrap;
    }
}


.content {
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 2;
}

.container {
    position: relative;
    max-width: 1120px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.4;
    width: calc(100% - 4rem);
    transition: width .30s ease-in;
}

.container .container-title {
    font-size: 2.8rem;
    margin: 1rem 0;
    color: var(--indigo);
}

.container .c-list {
    padding-left: 1rem;
    margin: 1rem;
    list-style-type: square;
}


.container .blog {
    background-color: var(--white);
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 1px 1px rgba(8, 8, 8, 0.1);
}

.container .blog.blog-primary {
    border-left: 5px solid var(--blue);
}

.container .blog.blog-error {
    border-left: 5px solid var(--danger);
}

.container .blog.blog-success {
    border-left: 5px solid var(--success);
}



p {
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        max-width: 790px;
        padding-left: 1rem;
        padding-right: 1rem;
        width: calc(100% - 2rem);

    }

    .container .container-title {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 667px) {
    .container {
        max-width: 600px;
    }

    .container .container-title {
        font-size: 2.1rem;
    }
}


.adjust {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
}

.adjust h3 {
    font-size: 1rem;
    font-weight: 300;
}

.adjust .child {
    padding: 10px;
    background-color: var(--light);
    box-shadow: 0 0 1px rgba(0, 0, 0, .30);
}

.adjust .child.child-off {
    display: none;
    opacity: 0;
}

.adjust .child.child-on {
    display: initial;
}

.adjust .adjust-field {
    margin: 6px 2px;
    position: relative;
    font-size: 14px;
}


.adjust .field {
    display: block;
    font-size: 14px;
    padding: 2px 6px;
    color: var(--dark);
    font-weight: 400;
    box-shadow: 0 0 1px rgba(8, 8, 8, .3);
    background-color: var(--light);
    border: 1px solid var(--light);
    margin: 3px 0 ;
    transition:  border-color .20s ease-in;
    width: 100%;
}

.adjust .field:focus {
    border-color: var(--indigo);
}


button.sm {
    font-size: 14px;
    padding: 3px 6px;
}

button {
    display: inline-block;
    background-color: var(--dark);
    padding: 2px 6px;
    margin: 15px 0;
    box-shadow: 0 0 1px 2px var(--white);
    color: var(--white);
    font-size: 13px;
    cursor: pointer;
    transition:  background-color .20s ease-in;
}

button:hover {
    background-color: var(--indigo);
}



.adjust .field-check {
    position: absolute;
    opacity: 0;
}

.adjust .check-label {
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-template-areas: "checkbox label";
}

.adjust .check-label {
    gap: .7em;
}

.adjust .check-label::before,
.adjust .check-label::after {
    content: "";
    grid-area: checkbox;
    display: block;
    margin-top: .1em;
}



.adjust .check-label::before {
    border: 1px solid #d1d5d8;
}

.adjust .check-label::before {
    width: 100%;
    height: 1em;
    border-radius: 1em;
    transition: background-color .30s ease-in;
    box-shadow: 0 0 0.25em #c4dbc4;
}

.adjust .check-label::after {
    position: relative;
    left: 2px;
    top: 2px;
    height: calc(1em - 4px);
    width: calc(1em - 4px);
    background-color: var(--indigo);
    border-radius: 50%;
    
    transition: transform .30s ease-in;
}

.adjust .field-check:checked ~ .check-label::before {
    background-color: var(--indigo);
}

.adjust .field-check:checked ~ .check-label::after {
    background-color: #d1d5d8;
    transform: translateX(1em);
}


/* 
.visualisation {
    padding: 1rem;
    border: 1px solid rgba(125, 125, 125, .3);
    background-color: #f8f9fa;
    font-size: 2rem;
    height: 600px;
    width: 70%;
}
 */

 .views.view-off {
    display: none;
    opacity: 0;
 }

 .views.view-on {
    display: block;
    opacity: 1;
 }


.views  {
    background-color: var(--light);
    border: 1px solid #d1d5d8;
    width: 800px;
    padding: 15px;
    height: 450px;
    margin: 1rem auto;
}


@media screen and (max-width: 1060px) {
    
    .views {
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width: 520px) {
    .adjust {
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}